{% extends 'layout.html' %}
{% block content %}
{% from 'macros.html' import render_field %}

<div class="pure-u-1">
	<form class="pure-form pure-form-stacked" method="post">
	{{ form.csrf_token }}
	 	<fieldset>
            <h4>{{ form.location_id.label }}</h4>
            {{ render_field(form.location_id) }}
            <h4>{{ form.model_id.label }}</h4>
            {{ render_field(form.model_id) }}
            <h4>{{ form.hostname.label }}</h4> 
            {{ render_field(form.hostname, class="pure-input-1-3", placeholder="格式: wx-g4-120-101") }}
            <h4>{{ form.idc_sn.label }}</h4>
            {{ render_field(form.idc_sn, class="pure-input-1-3") }}
            <h4>{{ form.nic1.label }}</h4>
            {{ render_field(form.nic1, class="pure-input-1-3") }}
            <h4>{{ form.nic2.label }}</h4>
            {{ render_field(form.nic2, class="pure-input-1-3") }}
            <h4>{{ form.nic3.label }}</h4>
            {{ render_field(form.nic3, class="pure-input-1-3") }}
            <h4>{{ form.category.label }}</h4>
            {{ render_field(form.category, class="pure-input-1-3", placeholder="格式: 跳板 | 直播 | 采集") }}
            <h4>{{ form.password.label }}</h4>
            {{ render_field(form.password, class="pure-input-1-3", placeholder="格式: root / password") }}
            <h4>{{ form.channel.label }}</h4>
            {{ render_field(form.channel, class="pure-input-1-3", placeholder="格式: 湖北卫视 - HuBeiTV | 天津卫视 - TianJinTV") }}
            <h4>{{ form.capture_method.label }}</h4>
            {{ render_field(form.capture_method, placeholder="格式: 卡采 | UDP组播") }}
            <h4>{{ form.content.label }}</h4>
            {{ render_field(form.content, id="kindeditor") }}
            <p>	
            <button type="submit" class="pure-button pure-button-primary">提交</button>
            <a class="pure-button" href="{{ url_for('capture_list') }}">返回</a>
        </fieldset>
	</form>
</div>

{% endblock %}