{% extends 'layout.html' %}
{% block content %}
{% from 'macros.html' import render_pagination %}

<div class="pure-u-1">
	<table class="pure-table pure-table-horizontal" width="105%">
		<thead>
			<tr align="center">
				<th>ID</th>
				<th>IDC位置</th>
				<th>设备型号</th>
				<th>主机名</th>
				<th>外网</th>
				<th>内网</th>
				<th>内网(组播)</th>
				<th>用途</th>
				<th>登录密码</th>
				<th>采集频道</th>
				{% if current_user.is_authenticated() and current_user.team_id in [1, 3] %}
				<th>功能 <a href="{{ url_for('capture_add') }}"><i class="fa fa-plus-square-o"></i></a></th>
				{% else %}
				<th>功能</th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
		{% for capture in captures %}
			<tr align="left">
				<td align="center">{{ capture.id }}</td>
				<td align="center">
				{% if capture.location_id == 1 %}无锡新区
				{% elif capture.location_id == 2 %}无锡国脉
				{% elif capture.location_id == 3 %}北京中关村
				{% elif capture.location_id == 4 %}北京铜牛
				{% elif capture.location_id == 5 %}上海科技网
				{% elif capture.location_id == 6 %}上海办公室
				{% elif capture.location_id == 7 %}广州七星岗
				{% elif capture.location_id == 8 %}长沙
				{% elif capture.location_id == 9 %}安徽
				{% elif capture.location_id == 10 %}山西
				{% elif capture.location_id == 11 %}浙江
				{% elif capture.location_id == 12 %}辽宁
				{% elif capture.location_id == 13 %}四川
				{% elif capture.location_id == 14 %}CIBN
                {% elif capture.location_id == 15 %}上海教育网
				{% endif %}</td>
				<td align="center">
                  {% if capture.model_id == 1 %}dell r410
                  {% elif capture.model_id == 2 %}dell r710
                  {% elif capture.model_id == 3 %}老双子星 
                  {% elif capture.model_id == 4 %}超微双子星 
                  {% elif capture.model_id == 5 %}dell r420 
                  {% elif capture.model_id == 6 %}dell r720 
                  {% elif capture.model_id == 7 %}超微四子星
                  {% endif %}
                </td>
				<td><a href="{{ url_for('capture_detail', id=capture.id) }}">{{ capture.hostname }}</a></td>
				<td>{{ capture.nic1 }}</td>
				<td>{{ capture.nic2 }}</td>
				<td>{{ capture.nic3 }}</td>
				<td align="center">{{ capture.category }}</td>
				<td>{{ capture.password }}</td>
				<td>{{ capture.channel|split|safe }}</td>
				{% if current_user.is_authenticated() and current_user.team_id in [1, 3] %} 
				<td align="center"><a href="{{ url_for('capture_edit', id=capture.id) }}"><i class="fa fa-pencil-square-o"></i></a></td>
				{% else %}
				<td></td>
				{% endif %}
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>

{% if pagination.total > record_per_page %}
<div class="pure-u-1" style="padding-top:5px">
	{{ render_pagination(pagination, 'capture_list') }}
</div>
{% endif %}

{% endblock %}
