{% extends 'layout.html' %}
{% block content %}
{% from "macros.html" import render_field %}

<div class="pure-u-1">
      <table class="pure-table pure-table-horizontal" style="width:190%">
        <thead>
            <tr align="center">
                <th colspan= {{ 1 + count + 1 }}>{{ year }}年{{ month }}月 监控值班表</th>
            </tr>
        </thead>

            <tr align="center" bgcolor="#FFFFFF">
                <th>监控班</th>
                <th colspan={{ count - 25 }} style="border:1px solid #CCCCCC;">
                {%- if month == 1 -%}12月
                {%- else -%}{{ month - 1 }}月
                {%- endif -%}
                </th>
                <th colspan=25 style="border:1px solid #CCCCCC;">{{ month }}月</th>
                <th>监控班</th>
            </tr>

            <tr>
            <th></th>
            {%- for i in last_month -%}
                {%- if i == 1 -%}<th style="color:red;">{{ loop.index + 25 }}</th>
                {%- else -%}<th>{{ loop.index + 25 }}</th>
                {%- endif -%}
            {%- endfor -%}
            {%- for i in this_month -%}
                {%- if i == 1 -%}<th style="color:red;">{{ loop.index }}</th>
                {%- else -%}<th>{{ loop.index }}</th>
                {%- endif -%}
            {%- endfor -%}
            <th></th>
            </tr>

            {%- for staff in staffs -%}
            {%- if staff.type != 3 -%}
            <tr id="tr_p_{{ staff.id }}">
                <td>{{ staff.name }}</td>
                {%- for day in staff.list.split(',') -%}
                <td id="td_p_{{ staff.id }}">{{ day }}</td>
                {%- endfor -%}
                <td>{{ staff.name }}</td>
            </tr>
            {%- endif -%}
            {%- endfor -%}

      </table>
      <p>
<a class="pure-button pure-button-primary" id="button_submit">提交</a>
<a class="pure-button" href="{{ url_for('schedule_list') }}">返回</a>
</div>

<script type="text/javascript">
$(function(){
var select_p = '<select><option value="0"></option><option value="1">早</option><option value="2">晚</option><option value="3">全</option><option value="4">换</option><option value="25">休</option></select>';

$('td[id^=td_p]').each(function(idx){
    var flag = $(this).text();
    $td = $(this).text('').html(select_p);
    $td.find('option').each(function(){
        if ($(this).val() == flag){
            $(this).attr('selected', 'selected');
        }
    });
});

$('td[id^=td_n]').each(function(idx){
    var flag = $(this).text();
    $td = $(this).text('').html(select_n);
    $td.find('option').each(function(){
        if ($(this).val() == flag){
            $(this).attr('selected', 'selected');
        }
    });
});

$('#button_submit').click(function(){
    var staff = [];
            
    $('tr[id^=tr]').each(function(idx){
        var list = '';
        var type = $(this).attr('id').split('_')[1];
        var id = $(this).attr('id').split('_')[2];

        $(this).find('select').each(function(idx){
            if (idx != {{ count -1 }}) {
                list = list + $(this).val() + ',';
            } else {
                list = list + $(this).val();
            }
        });

        if (type == 'p') {
            staff[idx] = {'id': id, 'type': 1,  'list': list};
        } else {
            staff[idx] = {'id': id, 'type': 2,  'list': list};
        }
    });

    var post_data = {
        'year': {{ year }}, 
        'month': {{ month }},
        'staff': staff, 
    };

    //console.log(post_data);

    $.ajax({
        type: 'POST',
        dataType: 'json',
        contentType: 'application/json;charset=utf-8',
        url: $SCRIPT_ROOT + "{{ url_for('schedule_edit_commit') }}",
        data: JSON.stringify(post_data),
        success: function(data) {
            if (data.json) {
                window.location.href = "{{ url_for('schedule_list') }}";
            };    
        },
    });
});
      
});
</script>

{% endblock %}