{%- extends 'layout.html' -%}
{%- block content -%}
{%- from "macros.html" import render_field -%}

<div class="pure-u-1">
{%- for schedule in lists -%}
      <table class="pure-table pure-table-horizontal" style="width:110%">
            <thead>
            <tr>
                  <th colspan= {{ 1 + schedule.count + 6 }} align="center">
                        {{ schedule.year }}年{{ schedule.month }}月 监控值班表
                  </th>
            </tr>
            </thead>

            <tr align="center" bgcolor="#FFFFFF">
                  <th>{%- if current_user.is_authenticated() and current_user.team_id == 1 -%}<a href="{{ url_for('schedule_edit', year=schedule.year, month=schedule.month)}}">编辑</a>{%- endif -%}</th>
                  <th colspan={{ schedule.count - 25 }} style="border:1px solid #CCCCCC;">
                  {%- if schedule.month == 1 -%}12月
                  {%- else -%}{{ schedule.month - 1 }}月
                  {%- endif -%}
                  </th>
                  <th colspan=29 style="border:1px solid #CCCCCC;">{{ schedule.month }}月</th>
            </tr>

            <tr>
            <th>监控班</th>
            {%- for i in schedule.last_month -%}
                  {%- if i == 1 -%}<th style="color:red;">{{ loop.index + 25 }}</th>
                  {%- else -%}<th>{{ loop.index + 25 }}</th>
                  {%- endif -%}
            {%- endfor -%}
            {%- for i in schedule.this_month -%}
                  {%- if i == 1 -%}<th style="color:red;">{{ loop.index }}</th>
                  {%- else -%}<th>{{ loop.index }}</th>
                  {%- endif -%}
            {%- endfor -%}
            <th>总</th><th>早</th><th>晚</th><th>休</th>
            </tr>

            {%- for staff in schedule.staffs -%}
            {%- if staff.type !=3 -%}
            <tr align="center">
                  {%- if staff.type == 2 -%}<td>{{ staff.name }}</td>
                  {%- else -%}<td>{{ staff.name }}</td>
                  {%- endif -%}
            
                  {%- for day in staff.list.split(',') -%}
                        {%- if day == '1' -%}<td style="background-color:#CCFF99">早</td>
                        {%- elif day == '2' -%}<td style="background-color:#CCFFFF">晚</td>
                        {%- elif day == '3' -%}<td style="background-color:#FF6666">全</td>
                        {%- elif day == '25' -%}<td style="background-color:#FF9966">休</td>
                        {%- else -%}<td></td>
                        {%- endif -%}
                  {%- endfor -%}
            
                  <th>{{ staff.morning + staff.evening }}</th>
                  <th>{{ staff.morning }}</th>
                  <th>{{ staff.evening }}</th>
                  <th>{{ staff.rest }}</th>
            </tr>
            {%- endif -%}
            {%- endfor -%}

            <thead>
            <tr align="center">
                  <th colspan= {{ 1 + schedule.count + 6 }}>
                        {{ schedule.year }}年{{ schedule.month }}月 加班调休表
                  </th>
            </tr>
            </thead>

            <tr align="center" bgcolor="#FFFFFF">
                  <th></th>
                  <th colspan={{ schedule.count - 25 }} style="border:1px solid #CCCCCC;">
                  {%- if schedule.month == 1 -%}12月
                  {%- else -%}{{ schedule.month - 1 }}月
                  {%- endif -%}
                  </th>
                  <th colspan=29 style="border:1px solid #CCCCCC;">{{ schedule.month }}月</th>
            </tr>

            <tr>
            <th>正常班</th>
            {%- for i in schedule.last_month -%}
                  {%- if i == 1 -%}<th style="color:red;">{{ loop.index + 25 }}</th>
                  {%- else -%}<th>{{ loop.index + 25 }}</th>
                  {%- endif -%}
            {%- endfor -%}
            {%- for i in schedule.this_month -%}
                  {%- if i == 1 -%}<th style="color:red;">{{ loop.index }}</th>
                  {%- else -%}<th>{{ loop.index }}</th>
                  {%- endif -%}
            {%- endfor -%}
            <th>加</th><th>休</th>
            </tr>

            {%- for staff in schedule.staffs -%}
            {%- if staff.type == 3 -%}
            <tr align="center">
                  <td>{{ staff.name }}</td>
            
                  {%- for day in staff.list.split(',') -%}
                        {%- if day == '0' -%}<td></td>
                        {%- elif day == '25' -%}<td style="background-color:#FF9966">休</td>
                        {%- else -%}<td>{{ day }}</td>
                        {%- endif -%}
                  {%- endfor -%}
            
                  <th>{{ staff.overtime }}</th>
                  <th>{{ staff.rest }}</th>
            </tr>
            {%- endif -%}
            {%- endfor -%}

      </table>
      <p>
{%- endfor -%}
</div>

{%- endblock -%}