{% extends 'layout.html' %}
{% block content %}

<div class="pure-u-1">
	<table class="pure-table pure-table-horizontal">
		<thead>
			<tr align="center">
				<th>ID</th>
				<th>中文姓名</th>
				<th>邮件地址</th>
				<th>QQ号码</th>
				<th>移动电话</th>
				<th>所属团队</th>
				{% if current_user.team_id == 1 %}
				<th>功能 <a href="{{ url_for('user_add') }}"><i class="fa fa-plus-square-o"></i></a></th>
				{% else %}
				<th>功能</th>	
				{% endif %}
			</tr>
		</thead>
		<tbody>
		{% for user in users  %}
			<tr>
				<td>{{ user.id }}</td>
				<td>{{ user.name }}</td>
				<td align="right">{{ user.email }}</td>
				<td align="right">{{ user.qq }}</td>
				<td>{{ user.mobile }}</td>
				<td>
				{% if user.team_id == 1 %}管理
				{% elif user.team_id == 2 %}运维监控
				{% elif user.team_id == 3 %}信号采集
				{% elif user.team_id == 4 %}网络存储
				{% elif user.team_id == 5 %}机房运维
				{% elif user.team_id == 6 %}直播流运营
				{% endif %}
				</td>
				{% if current_user.is_authenticated() and ( user.email == current_user.email or current_user.team_id == 1) %} 
				<td><a href="{{ url_for('user_edit', id=user.id) }}"><i class="fa fa-pencil-square-o"></i></a></td>
				{% else %}
				<td></td>
				{% endif %}
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>

{% endblock %}