{% extends 'layout.html' %}
{% block content %}
{% from 'macros.html' import render_pagination %}

<div class="pure-u-1">
	<table class="pure-table pure-table-horizontal">
		<thead>
			<tr>
				<th>ID</th>
				<th>分类</th>
				<th>标题</th>
				<th>创建人</th>
				<th>创建时间</th>
				<th>更新人</th>
				<th>更新时间</th>
				<th>更新次数</th>
				{% if current_user.is_authenticated() %}
				<th>编辑 <a href="{{ url_for('wiki_add') }}"><i class="fa fa-plus-square-o"></i></a></th>
				{% else %}
				<th>编辑</th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
		{% for wiki in wikis %}
			<tr>
				<th>{{ wiki.id }}</th>
				<th>
				{% if wiki.category_id == 1 %}采集&直播流
				{% elif wiki.category_id == 2 %}监控系统
				{% elif wiki.category_id == 3 %}北美SunTV
				{% elif wiki.category_id == 4 %}iSearch
				{% elif wiki.category_id == 5 %}其他
				{% endif %}
				</th>
				<th><a href="{{ url_for('wiki_detail', id=wiki.id) }}">{{ wiki.title }}</a></th>
				<th>{{ wiki.created_user }}</th>
				<th>{{ wiki.created_time.strftime('%Y-%m-%d %H:%M:%S') }}</th>
				<th>{{ wiki.updated_user }}</th>
				<th>{{ wiki.updated_time.strftime('%Y-%m-%d %H:%M:%S') }}</th>
				<th>{{ wiki.updated_count }}</th>
				{% if current_user.is_authenticated() %}
				<th><a href="{{ url_for('wiki_edit', id=wiki.id) }}"><i class="fa fa-pencil-square-o"></i></a></th>
				{% else %}
				<th></th>
				{% endif %}
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>

{% if pagination.total > record_per_page %}
<div class="pure-u-1" style="padding-top:5px">
	{{ render_pagination(pagination, 'wiki_list') }}
</div>
{% endif %}

{% endblock %}
