{% extends 'layout.html' %}
{% block content %}

<div class="pure-u-1">
    <table class="pure-table pure-table-horizontal">
        <thead>
            <tr align="center">
                <th>ID</th>
                <th>资源库名称</th>
                <th>源站url</th>
                <th>资源库目录</th>
                <th>资源库大小(GB)</th>
                <th>更新时间</th>
                <th>状态</th>
                <th>功能 <a href="/capture/add/"><i class="fa fa-plus-square-o"></i></a></th>
            </tr>
        </thead>
        <tbody>
            <tr align="center">
                <td>1</td>
                <td>centos</td>
                <td align="left">rsync://mirrors.yun-idc.com/centos/</a></td>
                <td>/opt/yum/centos</td>
                <td>20</td>
                <td>2014-04-23 08:48:33</td>
                <td>完整</td>
                <td><a href="/capture/edit/1/"><i class="fa fa-pencil-square-o"></i></a></td>
            </tr>
        </tbody>
    </table>
</div>


{% endblock %}
