{% extends 'layout.html' %}
{% block content %}

<div class="pure-u-1">
    <table class="pure-table pure-table-horizontal">
        <thead>
            <tr align="center">
                <th>ID</th>
                <th>资源类型</th>
                <th>国家</th>
                <th>组织名称</th>
                <th>Http</th>
                <th>下载速率(Mb)</th>
                <th>更新人</th>
                <th>更新时间</th>
                <th>功能 <a href="{{ url_for('yum_site_add') }}"><i class="fa fa-plus-square-o"></i></a></th>
            </tr>
        </thead>
        <tbody>
            {% for site in sites %}
            <tr align="center">
                <td>{{ site.id }}</td>
                <td>{% if site.repository_id == 1 %}centos
                    {% elif site.repository_id == 2 %}epel
                    {% elif site.repository_id == 3 %}repoforge
                    {% else %}centos{% endif %}
                </td>
                <td>{{ site.country }}</td>
                <td align="left">{{ site.name }}</td>
                <td align="left"><a href="{{ site.http }}">{{ site.http }}</a></td>
                <td>{{ site.speed }}</td>
                <td>{{ site.updated_user }}</td>
                <td>{{ site.updated_time.strftime('%Y-%m-%d %H:%M') }}</td>
                <td><a href="{{ url_for('yum_site_edit', id=site.id) }}"><i class="fa fa-pencil-square-o"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
